[Unit]
Description=fava service
After=network.target
ConditionPathExists=/opt/main.bean

[Service]
Type=simple
Restart=always
RestartSec=1
User=haoming
ExecStart=/usr/local/bin/fava /opt/main.bean -p 5001

[Install]
WantedBy=multi-user.target
Alias=fava.service
